<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
</head>
<body>
     <div class="container" style="text-align: center">
         {% include "navbar.html" %}  
         <h1>services that we provide</h1>
         
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ullam enim quibusdam vitae 
             sapiente voluptates natus sequi saepe magnam iste,
             nobis, aliquid debitis aperiam! Laborum sed maxime 
             voluptatem quasi! Nesciunt dolor porro totam pariatur harum assumenda, a ea ipsum tempore hic.
             Doloribus porro, qui nemo impedit nobis eaque accusantium cum?
        </p>  
        <button>contact us</button>

     </div> 
</body>
</html>